@theme inline {
  /* Tipography */
  --text-heading-lg: 30px;
  --text-heading-lg--line-height: 36px;

  --text-heading: 20px;
  --text-heading--line-height: 24px;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 24px;

  --text-body: 16px;
  --text-body--line-height: 24px;

  --text-body-sm: 14px;
  --text-body-sm--line-height: 20px;

  --text-caption: 12px;
  --text-caption--line-height: 20px;

  /* Colors */
  --color-high-contrast: var(--high-contrast);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-emphasis: var(--emphasis);
  --color-border: var(--border);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-success: var(--success);
}

:root {
  --primary: #46e553;
  --high-contrast: #0f172a;
  --muted: #64748b;
  --muted-light: #94a3b8;
  --emphasis: #334155;
  --border: #e2e8f0;
  --background: #f6f7f8;
  --card: #ffffff;
  --error: #ef4444;
  --warning: #f59e0b;
  --info: #3B82F6;
  --success: #21A853;
}

.dark {
  --primary: #635cf1;
  --high-contrast: #e2e8f0;
  --muted: #94a3b8;
  --muted-light: #94a3b8;
  --emphasis: #cbd5e1;
  --border: #334155;
  --background: #070b14;
  --card: #0c1222;
  --error: #f77f7f;
  --warning: #fbbf24;
  --info: #60a5fa;
  --success: #21A853;
}
